.review__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .review__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .review {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .review__header {
    display: flex;
    justify-content: space-between;
  }
  .review__title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  .review__rating {
    font-size: 12px;
    color: #000;
  }
  
  .review__text {
    font-size: 16px;
    color: #000;
  }